.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #005ad3;
}
